

.navbar__logo-img{
    display: inline-block;
    height: 50%;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }






.container__1-img--central{
    width: 50%;
    height: 83%;
    vertical-align:middle;
}

.contaianer__2-img--mapa{
    width: 40%;
    height: 80%;
    
}

.contaianer__2-img--cafe{
    width: 40%;
    height: 30%;
    object-fit: cover;
   
    
   
   
}
.contaianer__2-img--granos{
    width: 10%;
    height: 20%;
    object-fit: cover;
    vertical-align:middle;
}