

.navbar__logo-img{
    display: inline-block;
    height: 50%;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }



.container__1-img{
    display: inline-block;
    position: relative;
}


.contaianer__2-img--mapa{
    width: 400px;
    height: 190px;
    
}

.contaianer__2-img--cafe{
    width: 450px;
    height: 240px;
}
.contaianer__2-img--granos{
    width: 70px;
    height: 150px;
    object-fit: cover;
}