
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


.pt-mono-regular {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

h1{
font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}


p{
font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  top:2px;
}

.datos__titulo-50{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    top:-10px;
  } 


.datos__parrafo-datos-1{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    top:2px;
    text-align: justify;
}

.datos__titulo-20{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    top:2px;
  } 


.datos__parrafo-datos-2{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    top:2px;
    text-align: justify;
}

.datos__titulo-1000{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
   
  } 


.datos__parrafo-datos-3{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
   
}
.contaianer__2-subtitulo-1{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 25px;
}

.contaianer__2-subtitulo-descripcion{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
   margin-top: -10px;
}