@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container__1 {
  height: 55vh;
}

.container__2 {
  height: 33vh;
}

.navbar__logo-img {
  display: inline-block;
  height: 50%;
  vertical-align: middle;
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.container__1-img--central {
  width: 50%;
  height: 83%;
  vertical-align: middle;
}

.contaianer__2-img--mapa {
  width: 40%;
  height: 80%;
}

.contaianer__2-img--cafe {
  width: 40%;
  height: 30%;
  object-fit: cover;
}

.contaianer__2-img--granos {
  width: 10%;
  height: 20%;
  object-fit: cover;
  vertical-align: middle;
}

.pt-mono-regular {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

p {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  top: 2px;
}

.datos__titulo-50 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  top: -10px;
}

.datos__parrafo-datos-1 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  top: 2px;
  text-align: justify;
}

.datos__titulo-20 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  top: 2px;
}

.datos__parrafo-datos-2 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  top: 2px;
  text-align: justify;
}

.datos__titulo-1000 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.datos__parrafo-datos-3 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
}

.contaianer__2-subtitulo-1 {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 25px;
}

.contaianer__2-subtitulo-descripcion {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
  margin-top: -10px;
}

.navbar {
  height: 12vh;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3rem;
  margin-top: 1.5rem;
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color de texto heredado */
}

.container__1-img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.container__1-tittle {
  display: inline-block;
  position: relative;
  left: 57%;
  vertical-align: top;
  top: -95%;
}

.container__1-descripcion-tittle {
  position: absolute;
  top: 12rem;
}

.contaianer__1-datos {
  position: absolute;
  width: 472px;
  height: 150px;
  background-color: white;
  left: 26%;
  top: 42%;
}

.contaianer__1-datos-1 {
  display: inline-block;
  position: relative;
  left: 2rem;
  top: 2rem;
}

.contaianer__1-datos-2 {
  position: relative;
  display: inline-block;
  left: 3rem;
  top: 2rem;
}

.contaianer__1-datos-3 {
  display: inline-block;
  position: relative;
  left: 5rem;
  top: 2rem;
}

.contaianer__2-subtitulo {
  position: relative;
  display: inline-block;
  left: 4rem;
  top: -180px;
}

.container__1-cuadrado-naranja {
  width: 10%;
  height: 30%;
  background-color: orangered;
  position: relative;
  display: inline-block;
  top: -270px;
  left: 37%;
}

.sombra__cuadrado-naranja {
  -webkit-box-shadow: 46px 7px 5px 5px rgb(231, 166, 26);
  -moz-box-shadow: 46px 7px 5px 5px rgb(231, 166, 26);
  box-shadow: 46px 7px 5px 5px rgb(231, 166, 26);
}

.contaianer__2-fondo-celeste {
  position: absolute;
  width: 24%;
  height: 25%;
  background-color: rgb(60, 165, 221);
  left: 26%;
  top: 57%;
}

.contaianer__2-img {
  width: 55%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  left: 5%;
  top: -80px;
}

.contaianer__2-img-1 {
  width: 55%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 565px;
}

.contaianer__2-img-2 {
  display: inline-block;
  width: 55%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: 48%;
  top: 565px;
}

.navbar__buttons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50rem;
  margin-top: 1.5rem;
}

.navbar__buttons-login {
  background-color: white;
  color: white;
  padding-left: 2rem;
}

.navbar__buttons-register {
  background-color: green;
  color: white;
  padding-left: 2rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
