

.nav-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top:1.5rem;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Usa el color de texto heredado */
  }


  .container__1-img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}


  
.container__1-tittle{
    display: inline-block;
    position: relative;
    left: 57%;
    vertical-align:top;
    top:-95%;
  
    
}

.container__1-descripcion-tittle{
   
    position: absolute;
    top: 12rem;   
}

.contaianer__1-datos{
    position: absolute; 
    width: 472px;
    height: 150px;
    background-color: white;
    left: 26%;
    top:42%;
}
.contaianer__1-datos-1{
    display: inline-block;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.contaianer__1-datos-2{
    position: relative;
    display: inline-block;
    left: 3rem;
    top: 2rem;
}

.contaianer__1-datos-3{
    display: inline-block;
    position: relative;
    left: 5rem;
    top: 2rem;
}

.contaianer__2-subtitulo{
    position: relative;
    display: inline-block; 
    left: 4rem;
    top: -180px;
}

.container__1-cuadrado-naranja{
    width: 10%;
    height: 30%;
    background-color: orangered;
    position: relative;
    display: inline-block; 
    top :-270px;
    left: 37%;

}
.sombra__cuadrado-naranja{
    -webkit-box-shadow: 46px 7px 5px 5px rgba(231,166,26,1);
-moz-box-shadow: 46px 7px 5px 5px rgba(231,166,26,1);
box-shadow: 46px 7px 5px 5px rgba(231,166,26,1);
}