.contaianer__2-fondo-celeste{
    position: absolute;
    width: 24%;
    height: 25%;
    background-color: rgb(60, 165, 221);
    left: 26%;
    top:57%;

}

.contaianer__2-img{
    width: 55%;
    height: 100%;
    display: inline-block;
    position: relative;z-index: 1;
    left: 5%;
    top: -80px;
   
   
}

.contaianer__2-img-1{
    width: 55%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
    position:absolute;
  left: 50%;
     top: 565px;
   
}

.contaianer__2-img-2{
    display: inline-block;
    width: 55%;
    height: 100%;
    vertical-align:middle;
    display: inline-block;
    position: absolute;
    left: 48%;
    top: 565px;
    
    
    
}